<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Geo Example - {% block title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css"
              href="https://design.dontdrinkandroot.net/7/dontdrinkandroot/css/style.css" media="screen"/>
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('ddr_geo_example_base_homepage') }}">Geo Example</a>
            </div>
            <div class="collapse navbar-collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" id="mylocation">My Location</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Right</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div id="content" class="container">
    {% block content %}{% endblock %}
</div>

{% block javascript %}
    <script type="text/javascript" src="https://static.dontdrinkandroot.net/jquery/2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://static.dontdrinkandroot.net/bootstrap/3.2/bootstrap.min.js"></script>
    <script type="text/javascript">
        var locationUrl = "{{ path('ddr_geo_example_location') }}";
        $(function() {
            $('#mylocation').click(function() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        function(position) {
                            console.log(position);
                            window.location = locationUrl + '?lat=' + position.coords.latitude + '&lng=' + position.coords.longitude;
                        },
                        function(error) {
                            console.error(error);
                            alert(error.message);
                        }
                    );
                } else {
                    console.error('Geolocation not supported');
                }
                return false;
            })
        });
    </script>
{% endblock %}

</body>
</html>
